{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <form method="POST">
        <div class="row">
            <div class="col-md-4">
                {% csrf_token %}
                <table class="lead">{{ form.as_table }}</table>
            </div>
            <div class="col-md-4">
                <div class="btn-group-vertical btn-group-lg">
                    <button type="submit" name="View" class="btn btn-primary">View</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<p class="lead">{{daytime.day|date:"d/m/Y"}} &emsp; {{daytime.inM|date:"H:i"}} - {{daytime.outM|date:"H:i"}} &emsp; {{daytime.inA|date:"H:i"}} - {{daytime.outA|date:"H:i"}} &emsp; {{daytime.totH}}  ({{daytime.decimaltotH}})</p>

{% endblock %}