{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{day}}</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="lead">{{ form.as_table }}</table>
        <button type="submit" class="btn btn-primary btn-large">Save</button>
    </form>
</div>

<p class="lead">{{day}} &emsp; {{daytime.inM|date:"H:i"}} - {{daytime.outM|date:"H:i"}} &emsp; {{daytime.inA|date:"H:i"}} - {{daytime.outA|date:"H:i"}} &emsp; {{daytime.totH}}</p>

<div class="row">
    <!--div class="col-md-4">
        <h2>In</h2>
        <label class="lead">Input entry time:</label>
        <input type="time" id="appt-time" name="appt-time" min="7:00" max="20:00" value="{{ now }}" required />
        <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Save</a></p>
    </div>
    <div class="col-md-4">
        <h2>Out</h2>
        <label class="lead">Input exit time:</label>
        <input type="time" id="appt-time" name="appt-time" min="7:00" max="20:00" value="{{ now }}" required />
        <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Save</a></p>
    </div-->
</div>


{% endblock %}