body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


timesheet {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.timesheet td, .timesheet th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*.timesheet tr:nth-child(even){background-color: #f2f2f2;}*/

.timesheet tr:hover {background-color: #ddd;}

.timesheet tr.red {background-color:indianred}

.timesheet td.green {background-color:forestgreen}

.timesheet th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #428bca;
    color: white;
}